.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-wrapper {
  min-height: 100vh !important;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

.form-control {
  margin: 10px 0px 20px 0px;
}

input[type="submit"] {
  background-color: teal;
  margin: 20px 20px 30px 0px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 700;
}

input[type="submit"].disabled {
  background-color: grey;
}

#viewParcel{
  margin: 0 auto;
  text-align: center;
}

#parcel-view td{
  width: 50%;
}

.underline {
  background-color: #fdfbfb;
  padding: 2px;
}

.color-white{
  color: #FFFFFF;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}


.mt10 {
  margin-right: 10px;
}

.book-tile {
  height: 540px;
  border-radius: 10px;
  border: 1px solid #f5f5f5;
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
}

.book-tile .book-details {
  padding: 15px;
  background-color: #eaeaea;
}

.book-details label {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.book-tile img{
  width: 100%;
  height: fit-content;
  object-fit: contain;
  max-height: -webkit-fill-available;
}

.book-tile .book-image {
  height: 200px;
}

.color-edit {
  background-color: teal !important;
  color: #FFFFFF !important;
  font-weight: 500 !important;
  border: none;
  border-radius: 7px !important;
}

.color-delete {
  background-color: crimson !important;
  color: #FFFFFF !important;
  font-weight: 500 !important;
  border: none;
  border-radius: 7px !important;
}

.color-buy {
  background-color: lightsalmon !important;
  color: #000 !important;
  font-weight: 600 !important;
  border: none;
  border-radius: 7px !important;
}

.content {
  height: 100vh;
}

.row {
}

.bg-image {
  background-image: url("/public/images/bimage.jpg");
}

.bimage {
  /* background-image: url("/public/images/bimage.jpg"); */
}